.App {
  text-align: center;
  margin:0%;
  padding: 0%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: #282c34;
}

.body {
  background-color: #282c34;
}


.container {
  text-align: center;
  max-width: 100%;
  padding: 0 10px; 
  background-color: #282c34; 
}

.banner {
  background-color: #282c34;
  color: white;
  padding: 0px 20px;
  margin-bottom: 10px;
}

.banner h1,
.banner h4 {
  margin: 0;
  padding: 0;
}

.row-2 {
  display: flex; /* Use flexbox to display buttons in a row */
  justify-content: center; /* Center align buttons horizontally */
  margin-bottom: 20px; /* Add margin to separate from banner */
}

.row-2 button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  cursor: pointer;
  margin: 0 5px; /* Add margin between buttons */
}

p2 {
  margin: 0%;
  padding-bottom: 10px;
  color: white;
}
